[Unit]
Description = isucon7final main application in golang

[Service]
WorkingDirectory=/home/ubuntu/isucon7-final/webapp/go/
EnvironmentFile=/home/ubuntu/isucon7-final/env.sh
ExecStart = /home/ubuntu/isucon7-final/webapp/go/app

Restart   = always
Type      = simple
User      = ubuntu
Group     = ubuntu

[Install]
WantedBy = multi-user.target
