[Unit]
Description = isucon7final main application in golang

[Service]
WorkingDirectory=/home/ubuntu/webapp/go/
EnvironmentFile=/home/ubuntu/env.sh
ExecStart = /home/ubuntu/webapp/go/app

Restart   = always
Type      = simple
User      = ubuntu
Group     = ubuntu

[Install]
WantedBy = multi-user.target
